<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaforg" xmlns:sec="http://www.thymeleaforg">
<head th:insert="fragments/resources :: headResources('Menu')"></head>
<body>
<div class="container text-center">
    <nav th:replace="/fragments/navbar :: topNavbar('menu')"></nav>
    <div class="container my-4" th:object="${pizza}">
        <div class="row">
            <div class="col-md-4">
                <img th:src="*{picture}" alt="Immagine della pizza" class="img-fluid">
            </div>
            <div class="col-md-4">
                <h1 th:text="*{name}"></h1>
                <p class="text-muted" th:text="|*{price} €|"></p>
                <p th:text="*{description}"></p>
            </div>
            <div class="col-4">
                <h3>Ingredienti</h3>
                <ul th:if="*{ingredList.size() > 0}" class="list-unstyled">
                    <li th:each="ingr : *{ingredList}" th:text="${ingr.name}"></li>
                </ul>
                <div th:unless="*{ingredList.size() > 0}" class="alert alert-info">Non ha ingredienti</div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-2 gap-3">
            <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary" th:href="@{/offerte/create(id=*{id})}">Crea
                nuova offerta</a>
            <a sec:authorize="hasAuthority('ADMIN')" class="btn btn-primary" th:href="@{/pizzas/edit/{id}(id=*{id})}">Modifica
                pizza</a>
        </div>
        <h2>Offerte attive</h2>
        <table class="table">
            <thead>
            <tr>
                <td>Nome Offerta</td>
                <td>Data inizio</td>
                <td>Data fine</td>
                <td>Modifiche</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="off : *{offerList}" th:object="${off}">
                <td th:text="*{name}"></td>
                <td th:text="*{startDate}"></td>
                <td th:text="*{endDate}"></td>
                <td>
                    <a class="me-2" th:href="@{/offerte/edit/{id}(id=*{id})}"><i
                            class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <form class="d-inline" method="POST" th:action="@{/offerte/delete/{id}(id=*{id})}">
                        <button class="border-0 bg-white" type="submit">
                            <i class="text-danger fa-solid fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:if="*{offerList.size() == 0}" class="alert alert-info">Non ci sono offerte</div>
    </div>
</div>
<th:block th:replace="fragments/resources :: jsResources"></th:block>
</body>
</html>